.splash-animation{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    .splash-img{
        
        max-width: 100px;
        max-height: 100px;
        -webkit-animation:scale-up-center 2s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-center 2s cubic-bezier(.39,.575,.565,1.000) both;
    
        -webkit-animation:rotate-scale-up .65s linear both;animation:rotate-scale-up .65s linear both;
    }
   
@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}

 @-webkit-keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}@keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}

 
}