<ion-content>
  <div class="top-background">
    <img src="/assets/Presidio-Logo.png" />
  </div>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome to Presidio</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="button-container">
          <ion-button (click)="userLogin()" strong shape="round">
            Log in
          </ion-button>
          <!-- <a href="https://io-ionic-presidio-demo.auth.us-east-1.amazoncognito.com/login?client_id=2jjnoj7qqq0ddeqadh7660ui48&response_type=code&scope=aws.cognito.signin.user.admin+email+openid&redirect_uri=https://www.presidio.com/">Login</a> -->
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>